<body class="boss_body">
<div id="main_container">
	<div class="header">
    <div class="logo"><a href="#"><img src="/assets/logo.png" alt="" title="" border="0" /></a></div>
    </div>
    <div class="main_content">
      <div class="menu">
        <ul>
          <li><%= link_to 'Manage Products', products_path %></li>
          <li><%= link_to 'Manage Genres', genres_path %></li>
          <li><%= link_to 'Manage Accounts', accounts_path %></li>
          <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
        </ul>
      </div> 
    <div class="center_content">

   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Genre detail</h2> 
      <%= form_for @genre do |f| %>
        <% if @genre.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@genre.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @genre.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :name, :style=>"width:100%" %>
    </p>
    <p>
      <%= f.submit class: "btn btn-primary"%>
    </p>
    </div>
  </div>
  
 
  
<% end %>
    
    </div>   <!--end of center content -->               
    <div class="clear"></div>
    </div> <!--end of main content-->
    <div class="footer">
    </div>
</div>		
</body>
</html>