<body class="boss_body">
<div id="main_container">
	<div class="header">
    <div class="logo"><a href="#"><img src="/assets/logo.png" alt="" title="" border="0" /></a></div>
    </div>
    <div class="main_content">
      <div class="menu">
        <ul>
          <li><%= link_to t('admin_game'), products_path %></li>
          <li><%= link_to t('admin_genre'), genres_path %></li>
          <li><%= link_to t('admin_account'), accounts_path %></li>
          <li><%= link_to t('admin_order'), order_items_path %></li>
          <li><%= link_to t('admin_coupon'), coupons_path %></li>
          <li><%= link_to t('admin_report'), order_items_report_path %></li>
          <li><%= link_to t('admin_review'), ratings_path %></li>
          <li><%= link_to 'Guide', accounts_guide_path %></li>
          <li><%= link_to t('admin_logout'), logout_path, method: "delete" %></li>
          <li><%= link_to image_tag("flag_usa.png", :border => 0),{:controller => "homepage", :action => "index", :language => 'en' } %></li>
          <li><%= link_to image_tag("flag_vietnam.png", :border => 0),{:controller => "homepage", :action => "index", :language => 'vi' } %></li>
        </ul>
      </div> 
    <div class="center_content">

   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><%=t :new_genre_heading %></h2> 
      <%= form_for @genre do |f| %>
        <% if @genre.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@genre.errors.count, "") %><%=t :new_genre_warn %>
            </h2>
            <ul>
              <% @genre.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <p>
      <%= f.label t('new_genre_name') %><br>
      <%= f.text_field :name, :style=>"width:100%" %>
    </p>
    <p>
      <%= f.submit t('new_genre_create_button'), class: "btn btn-primary"%>
    </p>
    </div>
  </div>
  
 
  
<% end %>
    
    </div>   <!--end of center content -->               
    <div class="clear"></div>
    </div> <!--end of main content-->
    <div class="footer">
    </div>
</div>		
</body>