<body class="boss_body">
<div id="main_container">

	<div class="header">
    <div class="logo"><a href="/"><img src="<%= asset_path('logo.png') %>" alt="" title="" border="0" /></a></div>
    </div>
    
    <div class="main_content">
                    <div class="menu">
                    <ul>
                    <li><%= link_to 'Manage Products', products_path %>
                    </li>
                    <li><%= link_to 'Manage Genres', genres_path %>
                    </li>
                    </ul>
                    </div> 
    <div class="center_content">
    <div class="right_content">            
        
    <h2>List of Products</h2> 
 
    <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    <thead>
    	<tr>
            <th width="30%" scope="col" class="rounded-company">Genre</th>
            <th width="30%" scope="col" class="rounded">Edit</th>
            <th width="30%" scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
        
    <tbody>
        <% @genres.each do |genre| %>
    	<tr>
            <td><%= genre.name %></td>
			      <td><%= link_to 'Edit', edit_genre_path(genre) , class: "btn btn-primary"%></td>
			      <td><%= link_to 'Destroy', genre_path(genre),
              method: :delete,
              data: { confirm: 'Are you sure?' } , class: "btn btn-primary"%></td>
        </tr>    
        <% end %>
    </tbody>
    
    </table>
    <br>
    <%= link_to 'New genre', new_genre_path , class: "btn btn-primary" %>
    </div><!-- end of right content-->
    </div>   <!--end of center content -->               
    <div class="clear"></div>
    </div> <!--end of main content-->
    <div class="footer">
    </div>
</div>		
</body>
</html>