<div class="footer-widget">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-2">
			<div class="single-widget">
				<h2><%=t :service %></h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"><%=t :online_help %></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="single-widget">
				<h2><%=t :site_map %></h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"><%=t :genres %></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="single-widget">
				<h2><%=t :policies %></h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"><%=t :term_of_use %></a></li>
					<li><a href="/homepage/guide"><%=t :user_guide %></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="single-widget">
				<h2><%=t :about %></h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"><%=t :company %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<p class="pull-left">Copyright © 2015 william'sCORNER Inc. All rights reserved.</p>
		</div>
	</div>
</div>