<header id="header"><!--header-->
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left" style="padding-left: 30px">
						<a href="/"><img src="<%= asset_path('logo_homepage.png') %>" alt="logo_homepage"></a>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
    			          	<li>
              					<select style="margin-top: 10px">
              						<option value="english">English</option>
                  					<option value="vietnamese">Vietnamese</option>
                  				</select>
                			</li>                
							<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
							<li><a href=""><i class="fa fa-crosshairs"></i> Checkout</a></li>
							<!-- <li><a href=""><i class="fa fa-shopping-cart"></i> Cart</a></li> -->
							<li><%= link_to 'Sign Up', new_account_path , class: "fa fa-shopping-cart" %></li>

							<% if logged_in? %>	<!-- check if user logged in -->							
								<% if current_user.name == "admin" %>							    	
								    <li id="fa-user"><a href="#"> Welcome, <strong> <%= current_user.name %> </strong> </a>								
								        <ul class="dropdown" style="width: 70%; height: 40px;"> 							        	
								            <li><%= link_to 'Manage', products_path %></li>							            
								            <li><%= link_to "Logout", logout_path, method: "delete" %></li>
								        </ul>
								    </li>							    
							    <% else %>	
							    	<li> <%= link_to "My Cart", homepage_cart_path %> </li>	
							    	<li id="fa-user"><a href="#"> Welcome, <strong> <%= current_user.name %> </strong> </a>								
								        <ul class="dropdown" style="width: 70%; height: 40px;"> 							        	
								            <li><%= link_to 'Manage', edit_account_path(current_user) %></li>							            
								            <li><%= link_to "Logout", logout_path, method: "delete" %></li>
								        </ul>
								    </li>			
								<% end %>			
							<% else %>
							    <li> <%= link_to "Sign In", login_path %> </li>				    								    					
							<% end %>

						</ul>
					</div>
				</div>

				<br><br>
				<div class="pull-right">
					<%= form_tag(homepage_search_result_path, :method => "get", class: "navbar-form", id: "search-form") do %>      
			        	<%= text_field_tag :search, params[:search], placeholder: "Search games" %>
			        	<%= submit_tag "Search", :name => nil %>
	    			<% end %>                 
	    			<%= yield %>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->
</header><!--/header-->