<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/"> WILLIAM'S CORNER </a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="fa-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Language <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><%= link_to "ENG",{:controller => "homepage", :action => "index", :language => 'en' } %></li>
						<li><%= link_to "VN",{:controller => "homepage", :action => "index", :language => 'vi' } %></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<%= form_tag(homepage_search_result_path, :method => "get", class: "navbar-form navbar-left") do %>
					<div class="form-group">
						<%= text_field_tag :search, params[:search], placeholder: t('search_holder'), class: "form-control" %>
					</div>

					<%= submit_tag t('search_button'), :name => nil, class: "btn btn-default" %>
				<% end %>

				<% if logged_in? %>	<!-- check if user logged in -->
					<li> <%= link_to t('history'), homepage_history_path %> </li>
					<li> <%= link_to t('cart'), homepage_cart_path %> </li>
					<li id="fa-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<%=t :welcome %>, <strong> <%= current_user.name %> </strong> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							<li><%= link_to t('manage'), edit_account_path(current_user) %></li>
							<li><%= link_to t('logout'), logout_path, method: "delete" %></li>
						</ul>
					</li>

				<% else %>
					<li><%= link_to t('signup'), new_account_path , class: "fa fa-shopping-cart" %></li>
					<li> <%= link_to t('signin'), login_path %> </li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<br><br><br>
