
    <div class="col-xs-4">
      <h4>Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
      <% if current_user == nil %>
        <h4 style="color:red"> You have to login to order any items </h4>
      <% else %>
        <%= form_for ([current_user, current_user.order_items.build]) do |f| %>
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.hidden_field :owner_id, value: current_user.id %>
              <%= f.hidden_field :status, value: "pending" %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>