<% if current_user == nil %>
    <h4 style="color:red"><%=t :game_warn %></h4>
<% else %>
    <%= form_for ([current_user, current_user.order_items.build]) do |f| %>
        <span>
            <span><%= number_to_currency product.price %></span>
            <label>Quantity:</label>
            <%= f.number_field :quantity, value: 1, min: 1, placeholder: "Quantity" %>
        </span>
        <%= f.submit t('add_to_cart'), class: "btn btn-primary" %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.hidden_field :owner_id, value: current_user.id %>
        <%= f.hidden_field :status, value: "pending" %>
        <%= f.hidden_field :discount, value: '1' %>
    <% end %>
<% end %>
