<head>
	<title> <%=t :cart_title %> </title>
</head>
<body>
	<%= render 'header' %>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/"><%=t :home_tag %></a></li>
				  <li class="active"><%=t :cart_tag %> <%= @name %> </li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"><%=t :item %></td>
							<td class="description"><%=t :description %></td>
							<td class="price"><%=t :unit_price %></td>
							<td class="quantity"><%=t :quantity %></td>
							<td class="total"><%=t :total %></td>
							<td class="total"><%=t :delete %></td>
						</tr>
					</thead>

					<tbody>
						<% @order_items.each do |order_item| %>
							<% if order_item.status.to_str == "pending" %>
								<% product =  Product.find_by_id(order_item.product_id) %>
								<% @items = @items + 1 %>
								<% @total = @total + order_item.total_price %>
								<tr>
									<td class="cart_product">
										<img src="<%= product.img %>" alt=""> &nbsp;&nbsp;&nbsp;
									</td>
									<td class="cart_description">
										<h4><%=t :game_name %><%= product.name %></h4>
										<p>Order ID: <%= order_item.id %></p>
										<%=t :status %>
										<p style="color:green"> <%= order_item.status %></p>
									</td>
									<td class="cart_price">
										<p class="cart_total_price"><%= number_to_currency(product.price) %></p>
									</td>
									<td class="cart_price">
										<p class="cart_price"><%= order_item.quantity %></p>
									</td>
									<td class="cart_total">
										<p class="cart_total_price"><%= number_to_currency(order_item.total_price) %></p>
									</td>
									<td><%= link_to t('delete'), order_item ,
						              method: :delete,
						              data: { confirm: t('delete_confirmation') } , class: "btn btn-default"%>
		              </td>
								</tr>
							<% end %>
						<% end %>
						<% if @items == 0 %>
							<td class="cart_description">
								<h4>&nbsp; &nbsp; &nbsp; <%=t :history_warn %></h4>
							</td>
						<% end %>
						<% @vat = 0.1 * @total %>
						<% @total = @total + @vat %>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="row">


				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<% if current_user.valid_coupon == false %>
								<%= form_tag homepage_checkout_path, :method => 'get' do %>
						  	<%= text_field_tag :code, params[:code],placeholder: t('code_holder'),:style=>"width:82%" %>
								<%= submit_tag t('apply_button'), :name => nil, class: "btn btn-danger" %>
								<% end %>
								<%= yield %>
							<% else %>
								<li><%=t :coupon_activated %> <span><%=t :discount %></span></li>
							<% end %>

						</ul>
						<ul>
							<li><%=t :order_total %><span><%= @items %></span></li>
							<li>VAT 10% <span><%= number_to_currency(@vat)   %></span></li>
							<li><%=t :shipping_cost %><span><%=t :free %></span></li>
							<li><%=t :total %><span><%= number_to_currency(@total)  %></span></li>
							</br>
							<% if @items > 0 %>
								<%= link_to  t('checkout'), homepage_checkout_path, :action => 'checkout',class: "btn btn-danger" %>
							<% end %>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
	</footer><!--/Footer-->
