<head>
	<title> <%= @name %> </title>
</head>

	<div id="header"><!--Header-->
		<%= render 'header' %>
	</div><!--/Header-->
	

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active"><%= @name %></li>
				</ol>
			</div>
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"><%=t :item %></td>
							<td class="total"><%=t :name %></td>
							<td class="description"><%=t :description %></td>
							<td class="price"><%=t :price %></td>
						</tr>
					</thead>
					<% number =  @products.where(genre:@name).count %>
					<% if number == 0 %>
						<%= render 'soldoutcate' %>
					<% else %>
						<% @products.each do |product| %>
							<% if product.genre == @name %>
								<tbody>
									<tr>
										<td class="cart_product">
											<img src="<%= product.img %>" alt="">&nbsp;&nbsp;&nbsp;
										</td>
										<td class="cart_total">
											<h4><%= product.name %></h4>
										</td>
										<td class="cart_description">
											<h4>
												<% if product.des.length > 50 %>
													<%= product.des[0..50] + "..." %>
												<% else %>
													<%= product.des %>
												<% end %>
											</h4>
										</td>
										<td class="cart_price">
											<h4>$ <%= product.price %></h4>
											<%= link_to t('show'), homepage_path(product) ,class: "btn btn-primary", :target => "_blank"%>
										</td>
									</tr>
								</tbody>
							<% end %>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<div id="space">
	</div>
	
	<div id="footer"><!--Footer-->
		<%= render 'footer' %>
	</div><!--/Footer-->