<!DOCTYPE html>
<html>
<head>
	<title><%=t :guide_title %></title>
</head>
<body class='home_body'>
	<%= render 'header' %>
	<section>
		<div class="container">
			<div class="row">
				<div style="margin-bottom: 20px; padding-bottom: 20px;">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"><%=t :guide_heading %></h2>
					</div><!--features_items-->
				 
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#loginsignup" data-toggle="tab"><%=t :tabOne %></a></li>
								<li><a href="#genres" data-toggle="tab"><%=t :tabTwo %></a></li>
								<li><a href="#featuredgame" data-toggle="tab"><%=t :tabThree %></a></li>
								<li><a href="#lastestgame" data-toggle="tab"><%=t :tabFour %></a></li>
								<li><a href="#gamedetail" data-toggle="tab"><%=t :tabFive %></a></li>
								<li><a href="#rating" data-toggle="tab"><%=t :tabSix %></a></li>
								<li><a href="#addcart" data-toggle="tab"><%=t :tabSeven %></a></li>
								<li><a href="#searchgame" data-toggle="tab"><%=t :tabEight %></a></li>
							</ul>
						
						<div class="tab-content">
							<div class="tab-pane fade active in" id="loginsignup" >
							  <p><%=t :tabOne1 %></p>
							  <img src="/assets/loginsignup.png"><br>
							  <p><%=t :tabOne2 %></p><br>
							  <img src="/assets/signup.png"><br>
							  <p><%=t :tabOne3 %></p><br>
							  <img src="/assets/login.png"><br>
							</div>
							
							<div class="tab-pane fade" id="genres" >
							  <p><%=t :tabTwo1 %></p><br>
							  <img src="/assets/genres.png"><br>
							  <p><%=t :tabTwo2 %></p>
							  <img src="/assets/listproducts.png"><br>
							  <p><%=t :tabTwo31 %> <span style="color: red"><%=t :show %></span> <%=t :tabTwo32 %> <span style="color: red"><%=t :game_heading %></span> <%=t :tabTwo33 %></p>
							</div>
							
							<div class="tab-pane fade" id="featuredgame" >
							  <p><%=t :tabThree1 %></p>
							  <img src="/assets/featuredgame.png"><br>
							  <img src="/assets/listproducts.png"><br>
							  <p><%=t :tabThree31 %> <span style="color: red"><%=t :show %></span> <%=t :tabThree32 %> <span style="color: red"><%=t :game_heading %></span> <%=t :tabThree33 %></p>
							</div>
							
							<div class="tab-pane fade" id="lastestgame" >
							  <p><%=t :tabFour1 %></p>
							  <img src="/assets/lastestgame.png"><br>
							  <p><%=t :tabFour31 %> <span style="color: red"><%=t :get_button %></span> <%=t :tabFour32 %> <span style="color: red"><%=t :game_heading %></span> <%=t :tabFour33 %></p>
							  
							</div>
							
							<div class="tab-pane fade" id="gamedetail" >
							  <p><%=t :tabFive1 %></p>
							  <img src="/assets/gamedetail.png"><br>
							  <p><%=t :tabFive2 %> <span style="color: red">Add to cart</span></p>
							</div>
							
							<div class="tab-pane fade" id="rating">
								<p><%=t :tabSix1 %></p>
								<img src="/assets/comment.png"><br>
								<img src="/assets/rating.png"><br>
								<p><%=t :tabSix2 %></p>
							</div>
							
							<div class="tab-pane fade" id="addcart">
								<p><%=t :tabSeven1 %></p>
								<p><%=t :tabSeven2 %></p>
								<p><%=t :tabSeven3 %></p>
								<img src="/assets/buy.png"><br>
							</div>
							
							<div class="tab-pane fade" id="searchgame">
								<p><%=t :tabEight1 %></p>
								<img src="/assets/search.png"><br>
							</div>
							
						</div>
						</div>
					</div><!--/category-tab-->
				
					<!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
		
	</footer><!--/Footer-->
</body>
</html>