<head>
	<title><%=t :history_title %></title>
</head>
<body>
	<%= render 'header' %>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active"><%=t :history_tag %> <%= @name %> </li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"><%=t :description %></td>
							<td class="name"><%=t :transaction_date %></td>
							<td class="price"><%=t :unit_price %></td>
							<td class="quantity"><%=t :quantity %></td>
							<td class="total"><%=t :total %></td>
							<td class="total"><%=t :clear_history %></td>
						</tr>
					</thead>
					
					<tbody>
						<% @order_items.each do |order_item| %>
						  <% if order_item.status.to_str != "pending" && order_item.hide == false %>
  						  <% product =  Product.find_by_id(order_item.product_id) %>
  						  <% @items = @items + 1 %>
							  <% @total = @total + order_item.total_price %>
  							<tr>
  								<td class="cart_product">
  									<h4>&nbsp; &nbsp;&nbsp;<%=t :game_name %> <%= product.name %></h4>
  									<p>&nbsp; &nbsp; &nbsp;Order ID: <%= order_item.id %></p>
  									<p>&nbsp; &nbsp; &nbsp;<%=t :status %></p>
  									<% if order_item.status == 'in process' %>
  										<p style="color:blue">&nbsp; &nbsp; &nbsp;<%= order_item.status %></p>
  									<% else %>
  										<p style="color:red">&nbsp; &nbsp; &nbsp;<%= order_item.status %></p>
  									<% end %>
  								</td>
  								
  								<td class="cart_price">
  									<p><%= order_item.tran_date %></p>
  								</td>
  								
  								<td class="cart_price">
  									<p class="cart_total_price"><%= number_to_currency(product.price) %></p>
  								</td>
  								<td class="cart_price">
  									<p class="cart_quantity"><%= order_item.quantity %></p>
  								</td>
  								<td class="cart_total">
  									<p class="cart_total_price"><%= number_to_currency(order_item.total_price) %></p>
  								</td>
  								<td>  						
  									<% if order_item.status == 'delivered' %>
  										<%= link_to t('delete'), {:controller => "homepage", :action => "history", :order_id => order_item.id }, class: "btn btn-danger" %>
  									<% end %>
									</td>
  							</tr>
							  <% @vat = 0.1 * @total %>
					      <% @total = @total + @vat %>
							  <% end %>
						  <% end %>
						  <% if @items == 0 %>
  							<td class="cart_description">
  								<h4>&nbsp; &nbsp; &nbsp; <%=t :history_warn %></h4>
  							</td>
						  <% end %>
					  </tbody>
				  </table>
			</div>
		</div>
	</section> <!--/#cart_items-->
  
  <section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li><%=t :total_order_done %><span><%= @items %></span></li>
							<li><%=t :total_spent %><span><%= number_to_currency(@total)  %></span></li>
						</ul>
							<a class="btn btn-default update" href="/"><%=t :continue_shopping %></a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
		
	</footer><!--/Footer-->
