<head>
	<title> History </title>
</head>
<body>
	<%= render 'header' %>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">History transaction <%= @name %> </li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"> Description</td>
							<td class="price">Unit price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td class="total">Clear history</td>
						</tr>
					</thead>
					
					<tbody>
						<% @order_items.each do |order_item| %>
						  <% if order_item.status.to_str == "delivered" %>
  						  <% product =  Product.find_by_id(order_item.product_id) %>
  						  <% @items = @items + 1 %>
							  <% @total = @total + order_item.total_price %>
  							<tr>
  								<td class="cart_product">
  									<img src="<%= product.img %>" alt="">
  								</td>
  								<td class="cart_description">
  									<h4>Name :<%= product.name %></h4>
  									<p>Order ID: <%= order_item.id %></p>
  									Status: <p style="color:red"><%= order_item.status %></p>
  								</td>
  								<td class="cart_price">
  									<p class="cart_total_price"><%= number_to_currency(product.price) %></p>
  								</td>
  								<td class="cart_quantity">
  									<p class="cart_quantity"><%= order_item.quantity %></p>
  								</td>
  								<td class="cart_total">
  									<p class="cart_total_price"><%= number_to_currency(order_item.total_price) %></p>
  								</td>
  								<td><%= link_to 'Delete', order_item_path(order_item),
						              method: :delete,
						              data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
		              				</td>
  							</tr>
							  <% @vat = 0.1 * @total %>
					      <% @total = @total + @vat %>
							  <% end %>
						  <% end %>
						  <% if @items == 0 %>
  							<td class="cart_description">
  								<h4>Opps! You have not bought any games!</h4>
  							</td>
						  <% end %>
					  </tbody>
				  </table>
			</div>
		</div>
	</section> <!--/#cart_items-->
  
  <section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Total orders done <span><%= @items %></span></li>
							<li>Total used<span><%= number_to_currency(@total)  %></span></li>
						</ul>
							<a class="btn btn-default update" href="/">Continue shopping</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
		
	</footer><!--/Footer-->
