<% content_for :title, "Homepage" %>

<!DOCTYPE html>
<html>
<head>
	<title> William's Corner </title>
</head>
<body class='home_body'>
	<%= render 'header' %>
	
	<section id="slider"><!--slider-->
		<%= render 'slider' %>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<%= render 'leftcatetab' %>
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Featured Games</h2>
					</div><!--features_items-->
				 
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<%= render 'catetab' %>
							</ul>
						</div>
						<div class="tab-content">
							<%= render 'tab' %>
						</div>
					</div><!--/category-tab-->
				
					<!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
		
	</footer><!--/Footer-->
</body>
</html>