<!DOCTYPE html>
<html>
<head>
	<title> Games </title>
</head>
<body>
	<div id="header"><!--Header-->
		<%= render 'header' %>
	</div><!--/Header-->
	

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Key:</a></li>
				  <li class="active"><%= @search %></li>
				</ol>
			</div>
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="total">Name</td>
							<td class="description">Description</td>
							<td class="price">Price</td>
						</tr>
					</thead>
					<% number =  @products.count %>
					<% if number == 0 %>
						<%= render 'notfound' %>
					<% end %>
						<% @products.each do |product| %>
								<tbody>
									<tr>
										
										<td class="cart_product">
											<img src="<%= product.img %>" alt="">
										</td>
										<td class="cart_total">
											<h4><%= product.name %></h4>
										</td>
										<td class="cart_description">
											<% if product.des.size > 50 %>
												<h4><%= product.des[0, 50] + "..." %></h4>
											<% else %>
												<h4><%= product.des %></h4>
											<% end %>
										</td>
										<td class="cart_price">
											<h4>$ <%= product.price %></h4>
											<%= link_to 'Show', homepage_path(product) ,class: "btn btn-primary"%>
										</td>
									</tr>
								</tbody>
						<% end %>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<div id="space">
	</div>
	
	<div id="footer"><!--Footer-->
		<%= render 'footer' %>
	</div><!--/Footer-->
</body>
</html>	