<html>
<head>
	<title> Search result </title>
</head>
<body>
	<div id="header"><!--Header-->
		<%= render 'header' %>
	</div><!--/Header-->
	

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/"><%=t :key %>:</a></li>
				  <li class="active"><%= @search %></li>
				</ol>
			</div>
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"><%=t :item %></td>
							<td class="description"><%=t :description %></td>
							<td class="visited">Visited</td>
							<td class="price"><%=t :price %></td>
						</tr>
					</thead>
					<% number =  @products.count %>
					<% if number == 0 %>
						<%= render 'notfound' %>
					<% end %>
						<% @products.each do |product| %>
								<tbody>
									<tr>
										
										<td class="cart_product">
											<img src="<%= product.img %>" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</td>
										<td class="cart_description">
											<h4><%=t :name %> : <%= product.name %></h4>
											<%=t :genres %> : <%= product.genre %>
										</td>
										<td> <%= product.viewed %> times </td>
										<td class="cart_price">
											<h4>$ <%= product.price %></h4>
											<%= link_to t('show'), homepage_path(product) ,class: "btn btn-primary", :target => "_blank"%>
										</td>
									</tr>
								</tbody>
						<% end %>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<div id="space">
	</div>
	
	<div id="footer"><!--Footer-->
		<%= render 'footer' %>
	</div><!--/Footer-->
</body>
</html>	