<body>
	<%= render 'header' %>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 padding-right left-sidebar">
					
					<div class="breadcrumbs">
						<ol class="breadcrumb">
						  <li><a href="/">Home</a></li>
						  <li class="active"><%= @product.name %></li>
						</ol>
					</div>
					
					<h2>Product details</h2>
					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
								<img src="<%= @product.img %>" alt="" />
							</div>
						</div>
						<div class="col-sm-8">
							<div class="product-information"><!--/product-information-->
								<h2><%= @product.name %></h2>
								<%= render "product_row", product: @product, order_item: @order_item %>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> william'sCORNER</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
							</ul>
						</div>
	
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<p><%= @product.des %></p>		
								</div>
							</div>
							
					</div>
					<!--review-->

					<%= render template: 'ratings/new' %>

					<div class ="category-tab shop-details-tab">
						<div class ="col-sm-12">
							<ul class ="nav nav-tabs">
								<li><a href="" data-toggle="tab">Comment</a></li>
							</ul>
						</div>
						<%= render 'comment' %>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<%= render 'footer' %>
		
	</footer><!--/Footer-->
	