<!DOCTYPE html>
<html>
<head>
    <title><%=t :coupon_title %></title>
</head>
<body class="boss_body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">William's Corner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><%= link_to t('admin_game'), products_path %></li>
              <li><%= link_to t('admin_genre'), genres_path %></li>
              <li><%= link_to t('admin_account'), accounts_path %></li>
              <li><%= link_to t('admin_order'), order_items_path %></li>
              <li><%= link_to t('admin_coupon'), coupons_path %></li>
              <li><%= link_to t('admin_report'), order_items_report_path %></li>
              <li><%= link_to t('admin_review'), ratings_path %></li>
              <li><%= link_to 'Guide', accounts_guide_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t('admin_logout'), logout_path, method: "delete" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br><br>

    <div class="container">
        <table class="table table-striped table-bordered">
        <thead>
        	<tr>
                <th width="30%" scope="col" class="rounded-company"><%=t :coupon_code %></th>
                <th width="30%" scope="col" class="rounded"><%=t :coupon_day %></th>
                <th width="30%" scope="col" class="rounded-q4"><%=t :product_delete %></th>
            </tr>
        </thead>

        <tbody>
            <% @coupons.each do |coupon| %>
        	<tr>
                <td><%= coupon.code %></td>
                <td><%= coupon.date %></td>
                <td><%= link_to t('product_delete'), coupon_path(coupon),
                  method: :delete,
                  data: { confirm: t('delete_confirmation') } , class: "btn btn-primary"%></td>
            </tr>
            <% end %>
        </tbody>

        </table>
        <br>
        <%= link_to t('new_coupon'), coupons_create_path , class: "btn btn-primary" %>
    </div>
</body>
</html>
