<!DOCTYPE html>
<html>
<head>
    <title> All Orders </title>
</head>
<body class="boss_body">
<div id="main_container">

    <div class="header">
    <div class="logo"><a href="/"><img src="<%= asset_path('logo.png') %>" alt="" title="" border="0" /></a></div>
    </div>
    
    <div class="main_content">
        <div class="menu">
            <ul>
                <li><%= link_to 'Games', products_path %></li>
                <li><%= link_to 'Genres', genres_path %></li>
                <li><%= link_to 'Ratings', ratings_path %></li>
                <li><%= link_to 'Accounts', accounts_path %></li>
                <li><%= link_to 'Orders', order_items_path %></li>
                <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
            </ul>
        </div> 
    <div class="center_content">
    <div class="right_content">            
        
    <h2>List of Orders </h2>  
    <%= form_tag(order_items_path, :method => "get", class: "navbar-form", id: "search-form") do %>      
        <%= text_field_tag :search, params[:search], placeholder: "Search by owner " %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>                 
    <%= yield %>
    <br/>
    <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
        <thead>
            <tr>
                <th scope="col" class="rounded-company">ID</th>
                <th scope="col" class="rounded-company">Owner</th>
                <th scope="col" class="rounded">Game</th>
                <th scope="col" class="rounded">Total Price</th>
                <th scope="col" class="rounded">Status</th>
                <th scope="col" class="rounded-q4">Update</th>
            </tr>
        </thead>
   
    
        <% @order_items.each do |order| %>
            <% account = Account.find_by_id(order.owner_id) %>
            <% product = Product.find_by_id(order.product_id) %>

            <%= form_for order do |f| %>
                <tbody>
                    <tr>                        
                        <td scope="col" class="rounded-company"><%= order.id %></td>
                        <td scope="col" class="rounded-company"><%= account.name %></td>
                        <td scope="col" class="rounded"><%= product.name%></td>
                        <td scope="col" class="rounded"><%= number_to_currency(order.total_price) %></td>
                        <td scope="col" class="rounded">
                        <%= f.select :status, @status,  :value => order.status.to_str %>
                        </td>
                        <td scope="col" class="rounded-q4"><%= f.submit "Update", class: "btn btn-danger" %></td>
                    </tr>
                </tbody>
            <% end %>
        <% end %>
    </table>
    <br>
    </div><!-- end of right content-->
    </div>   <!--end of center content -->               
    <div class="clear"></div>
    </div> <!--end of main content-->
    <div class="footer">
    </div>
</div>      
</body>
</html>