<body class="boss_body">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">William's Corner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><%= link_to t('admin_game'), products_path %></li>
              <li><%= link_to t('admin_genre'), genres_path %></li>
              <li><%= link_to t('admin_account'), accounts_path %></li>
              <li><%= link_to t('admin_order'), order_items_path %></li>
              <li><%= link_to t('admin_coupon'), coupons_path %></li>
              <li><%= link_to t('admin_report'), order_items_report_path %></li>
              <li><%= link_to t('admin_review'), ratings_path %></li>
              <li><%= link_to 'Guide', accounts_guide_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t('admin_logout'), logout_path, method: "delete" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br><br>

	<div class="container">
		<h2><%=t :new_game_heading %></h2>
        <%= form_for @product do |f| %>
          <% if @product.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h2>
                <%= pluralize(@product.errors.count, "") %> errors:
              </h2>
              <ul>
                <% @product.errors.full_messages.each do |msg| %>
                  <li>+ <%= msg %></li>
                <% end %>
              </ul>
            </div>
		  <% end %>
	  	    <p>
	  	      <%= f.label t('new_game_name') %><br>
	  	      <%= f.text_field :name, :style=>"width:100%", class: "form-control" %>
	  	    </p>
	  	    <p>
	  	      <%= f.label t('new_game_image') %><br>
	  	      <%= f.text_field :img, :style=>"width:100%", class: "form-control" %>
	  	    </p>
	  	    <p>
	  	      <%= f.label t('product_price') %><br>
	  	      <%= f.text_field :price, :style=>"width:100%", class: "form-control" %>
	  	    </p>
	  	    <p>
	  	      <%= f.label t('product_genre') %><br>
	  	      <%= f.select :genre, @genres, :prompt => t('product_genre') %>
	  	    </p>

	  	    <p>
	  	      <%= f.label :Youtube_link %><br>
	  	      <%= f.text_field :link, :style=>"width:100%", class: "form-control" %>
	  	    </p>

	  	    <p>
	  	      <%= f.label t('product_description') %><br>
	  	      <%= f.text_area :des, :rows => "6", :style=>"width:100%", class: "form-control" %>
	  	    </p>
	  	    <p>
	  	      <%= f.submit t('new_game_create_button'), value: "Create", class: "btn btn-primary"%>
	  	    </p>
		<% end %>
	</div>
</body>
