<!DOCTYPE html>
<html>
<head>
  <title> Edit Account </title>
</head>
<body class="boss_body">
<div id="main_container">
  <div class="header">
    <div class="logo"><a href="/"><img src="/assets/logo.png" alt="" title="" border="0" /></a></div>
    </div>    
      <div class="main_content">
      <% if current_user.is_admin == true %>
        <div class="menu">
          <ul>
            <li><%= link_to 'Games', products_path %></li>
            <li><%= link_to 'Genres', genres_path %></li>
            <li><%= link_to 'Ratings', ratings_path %></li>
            <li><%= link_to 'Accounts', accounts_path %></li>
            <li><%= link_to 'Orders', order_items_path %></li>
            <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
          </ul>
        </div> 
      <% else %>
        <div class="menu">
          <ul>
            <li></li>            
          </ul>
        </div> 
      <% end %>
    <div class="center_content">    

   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Account details</h2> 
      <%= form_for :account, url: account_path(@account), method: :patch do |f| %>
        <% if @account.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@account.errors.count, "error") %> prohibited
              this article from being updated:
            </h2>
            <ul>
              <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name, :style=>"width:100%" %>
        </p>
       
        <p>
          <%= f.label :email %><br>
          <%= f.email_field :email, :style=>"width:100%" %>
        </p>

        <% if current_user.is_admin == true %>
          <p>
            <%= f.label :is_admin, "Admin rights" %><br>
            <%= f.select :is_admin, options_for_select(["true", "false"]), :prompt => 'Select one' %>
          </p>
        <% end %>

        <p>
          <%= f.label :password %>
          <%= f.password_field :password, :style=>"width:100%" %>
        </p>

        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :style=>"width:100%" %>
        </p>
       
        <p>
          <%= f.submit class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>   <!--end of center content -->               
    <div class="clear"></div>
    </div> <!--end of main content-->
    
</div>    
</body>
</html>

